@import "tailwindcss";

:root {
  /* Light Theme */
  --background: #ffffff;
  --secondary-background: #ebebeb;
  --primary-foreground: #171717;
  --secondary-foreground: #707070;
}

.dark {
  /* Dark Theme */
  --background: #282c33;
  --secondary-background: #343a40;
  --primary-foreground: #ffffff;
  --secondary-foreground: #abb2bf;
}

@theme inline {
  /* max size for container 1024px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 64rem; /* 1024px */
  --breakpoint-2xl: 64rem; /* 1024px */

  /* used colors */
  --color-main-purple: #c778dd;
  --color-main-gray: #abb2bf;

  /* theme colors */
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--primary-foreground);
  font-family: var(--font-fira-code);
}

* {
  box-sizing: border-box;
}
