@import "tailwindcss";

:root {
  /* Light Theme */
  --background: #e8e8e8;
  --secondary-background: #ffffff;
  --primary-foreground: #1b1b1b;
  --secondary-foreground: #6d6d6d;
}

.dark {
  /* Dark Theme */
  --background: #282c33;
  --secondary-background: #393f46;
  --primary-foreground: #ffffff;
  --secondary-foreground: #abb2bf;
}

@theme inline {
  /* used colors */
  --color-main-purple: #c778dd;
  --color-main-gray: #abb2bf;

  /* theme colors */
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
}

@layer base {
  * {
    @apply transition-colors duration-200;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--primary-foreground);
  font-family: var(--font-fira-code);
}

* {
  box-sizing: border-box;
}
